@import "../../../src/theme/custom-variables.scss";
ion-content {
  --ion-background-color: $base-color;
  background-color: $base-color;
}
#logo {
  width: 66%;
  margin: auto;
  text-align: center;
  margin: 60px;
  div {
    width: 180px;
    height: 180px;
    display: inline-block;
    background-color: white;
    border-radius: 100px;
  }
}
.form-container {
  background-color: white;
  border-radius: 5px;
}
.forgot-password {
  display: block;
  text-align: right;
  color: gray;
  font-size: .8em;
  font-weight: bold;
}
.secondary-options-container {
  color: white;
  margin-top: 15px;
  text-align: center;
}